@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@600&display=swap');

.contents {
   justify-content: center;
   display: flex;
   align-items: center;
}

.sort-title-background {
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(250, 153, 28, 0.35);
   height: 30px;
   width: 350px;
   position: absolute;
   z-index: -1;
   margin-top: 80px;
}

.sort-title { 
   font-family: 'Montserrat', sans-serif;
   font-size: 28px;
   font-style: normal;
   font-weight: 600;
   display: flex;
   justify-content: center;
   padding-top: 40px;
}

.sort-levels-box {
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   height: 450px;
   width: 400px;
   background: #032539;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin-top: 600px;
   border-radius: 45px 0px;
}

.level-box {
   margin-left: auto;
   margin-right: auto;
   position: flex;
   margin-top: 30px;
   height: 55px;
   width: 200px;
   background: #FBF3F2;
   border-radius: 20px;
   margin-bottom: -19px;
   box-shadow: inset 0 0 3px #000000;
}

.level-text {
   font-family: 'Nunito', sans-serif;
   font-size: 18px;
   text-align: center;
   padding-top: 15px;
   color: black;
}

.sort-levels {
   color: black;
   text-decoration: none;
}

.level-box:hover {
   transform: scale(1.1);
   transition: all 0.2s ease-out;
}