.profile-contents {
   justify-content: center;
   display: flex;
   align-items: center;
}

.profile-title-background {
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(250, 153, 28, 0.35);
   height: 30px;
   width: 350px;
   position: absolute;
   z-index: -1;
   margin-top: 80px;
}

.profile-grid{
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-gap: 20px;
   list-style:none;
   text-align: center;
}

.profile-title { 
   font-family: 'Montserrat', sans-serif;
   font-size: 28px;
   font-style: normal;
   font-weight: 600;
   display: flex;
   justify-content: center;
   padding-top: 40px;
}

.profile-Outline {
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   width: 1000px;
   height: 700px;
   margin-top: 825px;
   border: 6px solid #1C768F;
   box-sizing: border-box;
}

.profile-BackgroundRectangle {
   margin-top: 17.5px;
   margin-left: auto;
   margin-right: auto;
   width: 950px;
   height: 650px;
   background: #FBF3F2;
   text-align: center;
   box-sizing: border-box;
   padding: 10px;
}

.profile-LevelOutline {
   text-align: center;
   box-sizing: border-box;
   padding: 10px;
   border: 6px solid #36454F;
   color: #36454F;
}

.profile-UsernameBox {
   margin-top: 17.5px;
   background: #36454F;
   text-align: center;
   box-sizing: border-box;
   width: fit-content;
   padding: 10px;
   color: White;
}